body {
    background: #eff;
}

#userinput {
    width:100%;
    float:left;
}

#header {
    width:100%;
    float:left;
}

#userinput {
    width:100%;
    float:left;
}

#header h1 {
    font-family: sans-serif;
    font-weight:bold;
    text-align:center;
}

canvas {
    float:left;
    background: #eee;
    display:block;
    margin:1em;
}

#gamecontainer {
    margin-top:1em;
    margin-left:5%;
    width:80%;
    float:right;
}

input {
    font-size:48px;
}

#left {
    float:left;
    height:90%;
    width:10%;
}

#userinput {
    width:100%;
    float:left;
}
