body {
    background: #eff;
}

#header {
    width:100%;
    float:left;
}

#userinput {
    margin-top:1em;
    width:100%;
    float:left;
}

.good {
    animation-duration: 0.5s;
    animation-delay: 0s;
    background: lightgreen;
}
.bad {
    animation-duration: 0.5s;
    animation-delay: 0s;
    background: red;
}

#header h1 {
    font-family: sans-serif;
    font-weight:bold;
    text-align:center;
}

canvas {
    float:left;
    background: #eee;
    display:block;
    margin:1em;
}

#gamecontainer {
    margin-top:1em;
    margin-left:5%;
    width:80%;
    height:80%;
    float:right;
}

input {
    font-size:48px;
}

#left {
    float:left;
    height:85%;
    width:10%;
}

#userinputdiv {
    padding-top:0.5em;
    margin-right:30%;
    float:left;
}

#userinfo input {
    float:left;
}